<!DOCTYPE html>
<html>
<head>
    <title>Upload Files</title>
</head>
<body>
    <h1>Upload Bitcoin and Gold Data Files</h1>
    <form action="/" method="post" enctype="multipart/form-data">
        <label for="bitcoin_file">Bitcoin Data File:</label>
        <input type="file" name="bitcoin_file" id="bitcoin_file" required><br><br>
        <label for="gold_file">Gold Data File:</label>
        <input type="file" name="gold_file" id="gold_file" required><br><br>
        <input type="submit" value="Upload">
    </form>
</body>
</html>